<%- include('partials/header') %>
    <%- include('partials/navbar') %>
    <main>    
    <div class="error">
        <h2><%= title %></h2>
        <p><%= text %></p>
        <button class="basic-button"><a href="/">Retour à l'accueil</a></button>
    </div>
    </main>
    <%- include('partials/footer') %>
